In [1]:
# Dependencies
import pandas as pd

# Extraction: 2020 Data and 2021 Data 
    - Both datasets are saved and available as csv files from kaggle.com

## 2020 Data

In [2]:
happy2020 = pd.read_csv("Resources/happy2020.csv")
happy2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [3]:
happy2020['year'] = 2020

happy2020 = happy2020[['year','Country name','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption', 'Ladder score']]


happy2020.head()

,year,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score
0,2020,Finland,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,7.8087
1,2020,Denmark,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,7.6456
2,2020,Switzerland,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,7.5599
3,2020,Iceland,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,7.5045
4,2020,Norway,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,7.4880

## 2021 Data

In [4]:
happy2021 = pd.read_csv("Resources/happy2021.csv")
happy2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [5]:
happy2021['year'] = 2021

happy2021 = happy2021[['year','Country name','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption', 'Ladder score']]

happy2021.head()

,year,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score
0,2021,Finland,10.775,0.954,72.0,0.949,-0.098,0.186,7.842
1,2021,Denmark,10.933,0.954,72.7,0.946,0.030,0.179,7.620
2,2021,Switzerland,11.117,0.942,74.4,0.919,0.025,0.292,7.571
3,2021,Iceland,10.878,0.983,73.0,0.955,0.160,0.673,7.554
4,2021,Netherlands,10.932,0.942,72.4,0.913,0.175,0.338,7.464

# Transformation 
## Part 1: For Tableau Visualisation 
    - dataframe: happy_all
## Part 2: Machine Learning
- ### Data Cleanup
    - Save X and y variables
    - Train, Test, Split
    - X-scaler
- ### Accuracy
- ### Predictions
## Part 3: For PostGRES >> Javascript
TRANSFORMATION OF DATA to produce dataframe containing: original features, score and predicted score

## PART 1: For Tableau Visualisation
- Concantenate dataframes of all years
- Drop NAs (if any)
- Reset index
- Rename columns
- Save dataframe as csv file (for Tableau use)

In [6]:
# Concatenate dataframes from 2020 and 2021
happy_all = pd.concat([happy2020,happy2021])
# Drop all rows with NaN
happy_all = happy_all.dropna() 
happy_all
# Reset index
happy_all = happy_all.reset_index()
happy_all
# Drop old index
happy_all = happy_all.drop(columns="index")
happy_all

,year,Country name,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score
0,2020,Finland,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,7.8087
1,2020,Denmark,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,7.6456
2,2020,Switzerland,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,7.5599
3,2020,Iceland,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,7.5045
4,2020,Norway,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,7.4880
...,...,...,...,...,...,...,...,...,...
297,2021,Lesotho,7.926000,0.787000,48.700000,0.715000,-0.131000,0.915000,3.5120
298,2021,Botswana,9.782000,0.784000,59.269000,0.824000,-0.246000,0.801000,3.4670
299,2021,Rwanda,7.676000,0.552000,61.400000,0.897000,0.061000,0.167000,3.4150
300,2021,Zimbabwe,7.943000,0.750000,56.201000,0.677000,-0.047000,0.821000,3.1450
301,2021,Afghanistan,7.695000,0.463000,52.493000,0.382000,-0.102000,0.924000,2.5230

In [7]:
# See current column headings
print(happy_all.columns)

# Rename columns
happy_all = happy_all.rename({'Country name':'country', 'Ladder score':'score', 'Logged GDP per capita':'logged_GDP_per_capita', 'Social support':'support','Freedom to make life choices':'freedom','Generosity':'generosity','Healthy life expectancy':'life_exp','Perceptions of corruption':'corruption'}, axis='columns')

happy_all

Index(['year', 'Country name', 'Logged GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score'],
      dtype='object')

,year,country,logged_GDP_per_capita,support,life_exp,freedom,generosity,corruption,score
0,2020,Finland,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,7.8087
1,2020,Denmark,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,7.6456
2,2020,Switzerland,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,7.5599
3,2020,Iceland,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,7.5045
4,2020,Norway,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,7.4880
...,...,...,...,...,...,...,...,...,...
297,2021,Lesotho,7.926000,0.787000,48.700000,0.715000,-0.131000,0.915000,3.5120
298,2021,Botswana,9.782000,0.784000,59.269000,0.824000,-0.246000,0.801000,3.4670
299,2021,Rwanda,7.676000,0.552000,61.400000,0.897000,0.061000,0.167000,3.4150
300,2021,Zimbabwe,7.943000,0.750000,56.201000,0.677000,-0.047000,0.821000,3.1450
301,2021,Afghanistan,7.695000,0.463000,52.493000,0.382000,-0.102000,0.924000,2.5230

In [8]:
# Save dataframe as csv file (for Tableau use)
happy_all.to_csv('Resources/happy_2020_2021.csv')

In [9]:
# Save final 'happy_all' dataframe to new dataframe 'happy_postg' for use next section
happy_postg = happy_all

## PART 2: MACHINE LEARNING

# MACHINE LEARNING SECTION
## Data Cleanup: 
### - Save X and y variables
### - Train, Test, Split
### - X-scaler

## Save X and y variables

In [10]:
# Assign X (data) and y (target)
X = happy_postg.drop(["score","country"], axis=1)
print(X)
print('------------------------')


# Categorise y to have 10 categories, 
# 10 difference score categories (1: 0-1, 2: 1-2, 3: 2-3, 4: 3-4, 5: 4-5, 6: 5-6, 7: 6-7, 8: 7-8, 9: 8-9, 10: 9-10)
import numpy as np
happy_postg["score"] = happy_all["score"].apply(np.ceil)
happy_postg
y = happy_postg["score"]
y=y.astype('int')
print(y)

     year  logged_GDP_per_capita   support   life_exp   freedom  generosity  \
0    2020              10.639267  0.954330  71.900825  0.949172   -0.059482
1    2020              10.774001  0.955991  72.402504  0.951444    0.066202
2    2020              10.979933  0.942847  74.102448  0.921337    0.105911
3    2020              10.772559  0.974670  73.000000  0.948892    0.246944
4    2020              11.087804  0.952487  73.200783  0.955750    0.134533
..    ...                    ...       ...        ...       ...         ...
297  2021               7.926000  0.787000  48.700000  0.715000   -0.131000
298  2021               9.782000  0.784000  59.269000  0.824000   -0.246000
299  2021               7.676000  0.552000  61.400000  0.897000    0.061000
300  2021               7.943000  0.750000  56.201000  0.677000   -0.047000
301  2021               7.695000  0.463000  52.493000  0.382000   -0.102000

     corruption
0      0.195445
1      0.168489
2      0.303728
3      0.711710
4      0.263218
..          ...
297    0.915000
298    0.801000
299    0.167000
300    0.821000
301    0.924000

[302 rows x 7 columns]
------------------------
0      8
1      8
2      8
3      8
4      8
      ..
297    4
298    4
299    4
300    4
301    3
Name: score, Length: 302, dtype: int64

In [11]:
# Check column names which remain
X_headings = X.columns
X_headings

Index(['year', 'logged_GDP_per_capita', 'support', 'life_exp', 'freedom',
       'generosity', 'corruption'],
      dtype='object')

In [12]:
print(X.shape)
print(y.shape)

(302, 7)
(302,)

## Train, Test, Split

In [13]:
# Dependencies (to split data)
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [14]:
y_train

3      8
127    5
249    6
1      8
245    6
      ..
70     6
132    5
289    5
109    5
176    7
Name: score, Length: 226, dtype: int64

In [15]:
y_test

112    5
63     6
269    5
39     7
276    5
      ..
214    6
187    7
296    4
46     7
114    5
Name: score, Length: 76, dtype: int64

 ## Use MinMaxScaler to scale the numerical data.

In [16]:
# Perform MinMaxScaler to X_train and X_test
# Categorical columns do not need to be scaled. i.e. y_train and y_test
from sklearn.preprocessing import MinMaxScaler

# Attain X_scaler using x_train data
X_scaler = MinMaxScaler().fit(X_train)

# Save all variables using X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Save variables for use in model1

In [17]:
%store X_train_scaled
%store X_test_scaled
%store y_train
%store y_test
%store X_headings
%store X_scaler

Stored 'X_train_scaled' (ndarray)
Stored 'X_test_scaled' (ndarray)
Stored 'y_train' (Series)
Stored 'y_test' (Series)
Stored 'X_headings' (Index)
Stored 'X_scaler' (MinMaxScaler)

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [19]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [20]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.6106194690265486
Testing Data Score: 0.631578947368421

In [21]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [6 6 6 6 6 6 6 6 6 6]
First 10 Actual labels: [5, 6, 5, 7, 5, 6, 5, 6, 6, 6]

## PART 3: TRANSFORMATION OF DATA to produce dataframe containing: original features, score and predicted score
    - Clean data to produce dataframe 'y_test': 'index' (original index), 'y_actual', 'y_predicted'
    - Clean data to produce dataframe 'y_train': 'index' (original index), 'y_actual', 'y_predicted'
    - Merge dataframe 'happy_postg' and 'y_test_all' as new dataframe 'happy_predicted'
        - There should be blanks because y_predicted values only exist for 20% test data
        - * happy_postg = happy_all : This will ensure happy_all variable is left as is from Part1.

### Save dataframe 'y_test_all' which contains original_index, y_test, y_test_predicted

In [22]:
# Print y_test dataframe
print(y_test)
print('-----------------------------------')
# PRint y_predicted dataframe
y_test_predicted = pd.DataFrame(predictions)
print(y_test_predicted)

112    5
63     6
269    5
39     7
276    5
      ..
214    6
187    7
296    4
46     7
114    5
Name: score, Length: 76, dtype: int64
-----------------------------------
    0
0   6
1   6
2   6
3   6
4   6
.. ..
71  6
72  6
73  6
74  6
75  6

[76 rows x 1 columns]

In [23]:
# Reset y_test index 
# (to prepare to merge y_test (actual scores) and y_predicted (predicted scores) dataframes)
y_test = y_test.reset_index()
y_test

    index  score
0     112      5
1      63      6
2     269      5
3      39      7
4     276      5
..    ...    ...
71    214      6
72    187      7
73    296      4
74     46      7
75    114      5

[76 rows x 2 columns]

In [24]:
# Merge y_test and y_test_predicted
y_test_all = pd.merge(y_test, y_test_predicted, left_index=True, right_index=True, how="inner")
y_test_all

    index  score  0
0     112      5  6
1      63      6  6
2     269      5  6
3      39      7  6
4     276      5  6
..    ...    ... ..
71    214      6  6
72    187      7  6
73    296      4  6
74     46      7  6
75    114      5  6

[76 rows x 3 columns]

In [25]:
# This dataframe is from the test entries
# Rename column
y_test_all = y_test_all.rename({'score':'y_actual',0:'y_predicted'}, axis='columns')
y_test_all

    index  y_actual  y_predicted
0     112         5            6
1      63         6            6
2     269         5            6
3      39         7            6
4     276         5            6
..    ...       ...          ...
71    214         6            6
72    187         7            6
73    296         4            6
74     46         7            6
75    114         5            6

[76 rows x 3 columns]

- Merge dataframe 'happy_postg' with 'y_test_all' on index and save new dataframe as 'happy_postg_final'

In [31]:
# Merge 'happy_postg' on index with 'y_test_all' on column name 'index'. (join=outer)
happy_postg_final = pd.merge(happy_postg,y_test_all, how="outer", left_index=True, right_on="index")
happy_postg_final = happy_postg_final.dropna()
happy_postg_final = happy_postg_final.sort_index()
happy_postg_final

,year,country,logged_GDP_per_capita,support,life_exp,freedom,generosity,corruption,score,index,y_actual,y_predicted
0.0,2020,Gambia,7.321815,0.693169,55.012016,0.733163,0.343199,0.690718,5.0,112,5.0,6.0
1.0,2020,Serbia,9.680981,0.881476,68.210205,0.726496,-0.073676,0.843509,6.0,63,6.0,6.0
2.0,2021,Mali,7.744000,0.724000,51.969000,0.697000,-0.036000,0.827000,5.0,269,5.0,6.0
3.0,2020,Bahrain,10.676380,0.876342,68.500000,0.905856,0.133729,0.739347,7.0,39,7.0,6.0
4.0,2021,Namibia,9.161000,0.818000,56.799000,0.719000,-0.149000,0.847000,5.0,276,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
71.0,2021,South Korea,10.651000,0.799000,73.900000,0.672000,-0.083000,0.727000,6.0,214,6.0,6.0
72.0,2021,Brazil,9.577000,0.882000,66.601000,0.804000,-0.071000,0.756000,7.0,187,7.0,6.0
73.0,2021,Malawi,6.958000,0.537000,57.948000,0.780000,0.038000,0.729000,4.0,296,4.0,6.0
74.0,2020,Romania,10.107584,0.825162,67.207237,0.842823,-0.197815,0.934300,7.0,46,7.0,6.0
75.0,2020,Nigeria,8.576625,0.737217,49.861908,0.759578,0.033746,0.861874,5.0,114,5.0,6.0

In [32]:
# Rename column 'index' to 'id'
happy_postg_final = happy_postg_final.rename({'index':'id'}, axis='columns')

# Reorder column names
happy_postg_final = happy_postg_final[['id','year','country','logged_GDP_per_capita','support','life_exp','freedom','generosity','corruption', 'y_actual','y_predicted']]
happy_postg_final

,id,year,country,logged_GDP_per_capita,support,life_exp,freedom,generosity,corruption,y_actual,y_predicted
0.0,112,2020,Gambia,7.321815,0.693169,55.012016,0.733163,0.343199,0.690718,5.0,6.0
1.0,63,2020,Serbia,9.680981,0.881476,68.210205,0.726496,-0.073676,0.843509,6.0,6.0
2.0,269,2021,Mali,7.744000,0.724000,51.969000,0.697000,-0.036000,0.827000,5.0,6.0
3.0,39,2020,Bahrain,10.676380,0.876342,68.500000,0.905856,0.133729,0.739347,7.0,6.0
4.0,276,2021,Namibia,9.161000,0.818000,56.799000,0.719000,-0.149000,0.847000,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...
71.0,214,2021,South Korea,10.651000,0.799000,73.900000,0.672000,-0.083000,0.727000,6.0,6.0
72.0,187,2021,Brazil,9.577000,0.882000,66.601000,0.804000,-0.071000,0.756000,7.0,6.0
73.0,296,2021,Malawi,6.958000,0.537000,57.948000,0.780000,0.038000,0.729000,4.0,6.0
74.0,46,2020,Romania,10.107584,0.825162,67.207237,0.842823,-0.197815,0.934300,7.0,6.0
75.0,114,2020,Nigeria,8.576625,0.737217,49.861908,0.759578,0.033746,0.861874,5.0,6.0