In [1]:
# Dependencies
import pandas as pd

# 2020 Data

In [2]:
happy2020 = pd.read_csv("Resources/happy2020.csv")
happy2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [3]:
happy2020['year'] = 2020

happy2020 = happy2020[['year','Country name','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption']]


happy2020.head()

,year,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2020,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,2020,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,2020,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,2020,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,2020,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218

# 2021 Data

In [4]:
happy2021 = pd.read_csv("Resources/happy2021.csv")
happy2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [5]:
happy2021['year'] = 2021

happy2021 = happy2021[['year','Country name','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption']]

happy2021.head()

,year,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2021,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,2021,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,2021,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,2021,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,2021,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338

# Concantenate dataframes of all years

In [6]:
happy_all = pd.concat([happy2020,happy2021])
happy_all

,year,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2020,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,2020,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,2020,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,2020,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,2020,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218
...,...,...,...,...,...,...,...,...,...
144,2021,Lesotho,3.5120,7.926000,0.787000,48.700000,0.715000,-0.131000,0.915000
145,2021,Botswana,3.4670,9.782000,0.784000,59.269000,0.824000,-0.246000,0.801000
146,2021,Rwanda,3.4150,7.676000,0.552000,61.400000,0.897000,0.061000,0.167000
147,2021,Zimbabwe,3.1450,7.943000,0.750000,56.201000,0.677000,-0.047000,0.821000
148,2021,Afghanistan,2.5230,7.695000,0.463000,52.493000,0.382000,-0.102000,0.924000

# Rename columns 
- Ensure they are consistent between all dataframes (by year)

In [7]:
# See current column headings
print(happy_all.columns)

Index(['year', 'Country name', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [8]:
# Rename columns
happy_all = happy_all.rename({'Country name':'country', 'Ladder score':'score', 'Logged GDP per capita':'logged_GDP_per_capita', 'Social support':'support','Freedom to make life choices':'freedom','Generosity':'generosity','Healthy life expectancy':'life_exp','Perceptions of corruption':'corruption'}, axis='columns')

happy_all

,year,country,score,logged_GDP_per_capita,support,life_exp,freedom,generosity,corruption
0,2020,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,2020,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,2020,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,2020,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,2020,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218
...,...,...,...,...,...,...,...,...,...
144,2021,Lesotho,3.5120,7.926000,0.787000,48.700000,0.715000,-0.131000,0.915000
145,2021,Botswana,3.4670,9.782000,0.784000,59.269000,0.824000,-0.246000,0.801000
146,2021,Rwanda,3.4150,7.676000,0.552000,61.400000,0.897000,0.061000,0.167000
147,2021,Zimbabwe,3.1450,7.943000,0.750000,56.201000,0.677000,-0.047000,0.821000
148,2021,Afghanistan,2.5230,7.695000,0.463000,52.493000,0.382000,-0.102000,0.924000