In [1]:
# Dependencies
import pandas as pd

# 2018 Data

In [2]:
happy2018 = pd.read_csv("Resources/happy2018.csv")
happy2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [3]:
happy2019 = happy2019[["Country or region","Score",'GDP per capita','Social support','Freedom to make life choices','Generosity','Perceptions of corruption']]

happy2018['year'] = 2018
happy2018.head()

NameError: name 'happy2019' is not defined

# 2019 Data

In [2]:
happy2019 = pd.read_csv("Resources/happy2019.csv")
happy2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
happy2019 = happy2019[["Country or region","Score",'GDP per capita','Social support','Freedom to make life choices','Generosity','Perceptions of corruption']]

happy2019['year'] = 2019
happy2019.head()

,Country or region,Score,GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.769,1.340,1.587,0.596,0.153,0.393,2019
1,Denmark,7.600,1.383,1.573,0.592,0.252,0.410,2019
2,Norway,7.554,1.488,1.582,0.603,0.271,0.341,2019
3,Iceland,7.494,1.380,1.624,0.591,0.354,0.118,2019
4,Netherlands,7.488,1.396,1.522,0.557,0.322,0.298,2019

# 2020 Data

In [4]:
happy2020 = pd.read_csv("Resources/happy2020.csv")
happy2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [5]:
happy2020 = happy2020[["Country name","Ladder score",'Logged GDP per capita','Social support','Freedom to make life choices','Generosity','Perceptions of corruption']]

happy2020['year'] = 2020
happy2020.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.8087,10.639267,0.954330,0.949172,-0.059482,0.195445,2020
1,Denmark,7.6456,10.774001,0.955991,0.951444,0.066202,0.168489,2020
2,Switzerland,7.5599,10.979933,0.942847,0.921337,0.105911,0.303728,2020
3,Iceland,7.5045,10.772559,0.974670,0.948892,0.246944,0.711710,2020
4,Norway,7.4880,11.087804,0.952487,0.955750,0.134533,0.263218,2020

# Rename columns 
- Ensure they are consistent between all dataframes (by year)

In [9]:
print(happy2018.columns)
print(happy2019.columns)
print(happy2020.columns)

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')
Index(['Country or region', 'Score', 'GDP per capita', 'Social support',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Index(['Country name', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')

In [6]:
# Rename columns
# print(happy2018)
happy2018 = happy2018.rename({'Overall rank':'rank', 'Country or region':'country', 'Score':'score', 'GDP per capita':'GDP_capita', 'Social support':'support','Healthy life expectancy':'life_exp','Freedom to make life choices':'freedom','Generosity':'generosity','Perceptions of corruption':'corruption','year':'year'}, axis='columns')

happy2018

,rank,country,score,GDP_capita,support,life_exp,freedom,generosity,corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

# Concantenate dataframes

In [ ]:
pd.concat('')